<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Add Employee 1')"></head>
<body>

<div class="wrapper">

    <div class="navbar navbar-dark bg-dark navbar-expand-md" role="navigation">
        <div class="container">
            <a class="navbar-brand" th:href="@{${flowExecutionUrl} + '&_eventId_home'}">Home</a>
        </div>
    </div>

    <div class="content">
        <div class="container">

            <h3 style="margin: 50px">Add Employee</h3>

            <form th:action="${flowExecutionUrl}" method="post"
                  th:object="${employee}">

                <input type="text" th:field="*{name}"
                       class="form-control mb-4 col-4" placeholder="Name">

                <input type="text" th:field="*{department}"
                       class="form-control mb-4 col-4" placeholder="Department">

                <p class="alert alert-danger col-3"
                   th:each="err : ${flowRequestContext.messageContext.getMessagesBySource('name')}"
                   th:text="${err.text}">Input is invalid</p>

                <p class="alert alert-danger col-3"
                   th:each="err : ${flowRequestContext.messageContext.getMessagesBySource('department')}"
                   th:text="${err.text}">Input is invalid</p>

                <button type="submit" class="btn btn-info col-2" name="_eventId_salary">Next</button>
            </form>

        </div>
    </div>
</div>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>