<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Add Employee 5')"></head>
<body>

<div class="wrapper">

    <div class="navbar navbar-dark bg-dark navbar-expand-md" role="navigation">
        <div class="container">
            <a class="navbar-brand" th:href="@{${flowExecutionUrl} + '&_eventId_home'}">Home</a>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="text-center">

                <h2 style="margin: 50px">Success</h2>
                <br>
                <a class="btn btn-dark" th:href="@{/}">Main Page</a>

            </div>

        </div>
    </div>
</div>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>