<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Register Old')"></head>
<body>
<div class="container">

    <h3>Add Employee</h3>

    <form action="#" th:action="@{/register-old/processRegistrationForm}"
          th:object="${userDto}" method="post">

        <input type="text" th:field="*{username}"
               class="form-control mb-4 col-4" placeholder="Username">

        <input type="password" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="Password">

        <input type="password" th:field="*{matchingPassword}"
               class="form-control mb-4 col-4" placeholder="Matching Password">

        <div th:if="${registrationError}!=null" th:text="${registrationError}"
             class="alert alert-danger col-4"></div>

        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
             class="alert alert-danger col-4"></div>

        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
             class="alert alert-danger col-4"></div>

        <div th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"
             class="alert alert-danger col-4"></div>

        <button type="submit" class="btn btn-info col-2">Register</button>
    </form>

</div>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>