<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <title>Employee Form</title>
</head>
<body>
<div class="container">

    <h3>Add Employee</h3>

    <form th:action="@{/employees/add}"
          th:object="${employee}" method="post">

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Name">

        <input type="text" th:field="*{department}"
               class="form-control mb-4 col-4" placeholder="Department">

        <input type="number" min="0" th:field="*{salary}"
               class="form-control mb-4 col-4" placeholder="Salary">

        <input type="text" th:field="*{joinedOn}"
               class="form-control mb-4 col-4" id='datetimepicker' placeholder="Joined On"
               data-date-format="yyyy-MM-dd hh:mm:ss">

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
</div>
</body>
</html>