<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Add Employee')"></head>
<body>
<div class="container">

    <h3>Add Employee</h3>

    <form action="#" th:action="@{/employees/add}"
          th:object="${employee}" method="post">

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Name">

        <input type="text" th:field="*{department}"
               class="form-control mb-4 col-4" placeholder="Department">

        <input type="number" th:field="*{salary}"
               class="form-control mb-4 col-4" placeholder="Salary">

        <input type="text" th:field="*{joinedOn}"
               class="form-control mb-4 col-4" placeholder="Joined On">

        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
             class="alert alert-danger col-4">Name Error
        </div>
        <div th:if="${#fields.hasErrors('department')}" th:errors="*{department}"
             class="alert alert-danger col-4">Department Error
        </div>
        <div th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"
             class="alert alert-danger col-4">Salary Error
        </div>
        <div th:if="${#fields.hasErrors('joinedOn')}" th:errors="*{joinedOn}"
             class="alert alert-danger col-4">JoinedOn Error
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

</div>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>