<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Employee List')"></head>
<body>
<div class="container">

    <h3>Employee Directory</h3>
    <hr>

    <a th:href="@{/employees/add}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Joined On</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.department}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${#dates.format(employee.joinedOn, 'yyyy-MM-dd hh:mm:ss')}"></td>

            <td>
                <a th:href="@{/employees/update(employeeId=${employee.empId})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/employees/delete(employeeId=${employee.empId})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>